#dialog-figures {
  max-width: 150px;
  max-height: 100dvh;
  overflow: auto;
  padding: 1rem;
  margin:0;
  border-right: 1px solid dimgray;
}

#dialog-container {
  width: 100%;
  max-height: calc(20% - 1rem);
  section {
    border: 5px solid white;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: border 0.2s ease-out;
    text-align: center;
    &:hover,
    &.active{
      border-color: orange;
    }
    &.empty{
      background-color: whitesmoke;
      height: 100px;
     display:flex;
     align-items: center;
     justify-content: center;
    }
    >p{
      margin:0;
      padding:0;
    }
  }
  figure {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    figcaption {
      display: none;
    }
  }
}

$dialog-colors : (WhiteSmoke, DimGray, LightSteelBlue, CadetBlue, DarkOrange, LightSeaGreen);

// @for $i from 1 through 20 {

//   $color-id: (($i - 1) % length($dialog-colors)) + 1;

//   #dialog-container section:nth-child(#{$i}) {
   
//     figcaption::before {
//       content: "";
//       display: inline-table;
//       width: 1.5rem;
//       height: 1.5rem;
//       border: 0.5px solid lightgray;
//       border-radius: 50%;
//       background-color: nth($dialog-colors, $color-id);
//       margin-right: 0.25rem;
//     }
//   }

// }

