@use "variables" as v;

#main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(18, minmax(0, 1fr));
  gap: v.gap(xs);
  overflow: hidden;
}

#main-container {
  section.figure-wrapper{
    display: flex;
  }
  figure {
    position: relative;
    height:100%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    figcaption {
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      position: absolute;
      color:white;
    }
  }

  @for $i from 1 through 6 {
    section:nth-child(#{$i}) {
      grid-area: item#{$i};
    }
    @if ($i % 2 != 0 ){
        section:nth-child(#{$i}){
          justify-content:flex-end;
        }
      }
  }
}

// Cells.
.grid-cell{
  width:100%;
  height: 100%;
  background-color: whitesmoke;
  transition: all 0.2s ease-out;
  cursor: pointer;
  &.selected{
    background-color: lightgrey;
  }
  &.merged:not(.selected){
    background:repeating-linear-gradient(45deg, darkGrey 5px, transparent 10px);
  }
}