@use "variables" as v;

#main-container {
    
  height: 100%;
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(18, minmax(0, 1fr));
  gap: v.gap(s);
  overflow: hidden;
  background: linear-gradient(to right, white 0% calc(50% - 1px), PaleTurquoise calc(50% - 1px) calc(50% + 1px), white calc(50% + 1px));

  section.figure-wrapper{
    display: flex;
  }
  figure {
    position: relative;
    height:100%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    figcaption {
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      position: absolute;
      color:white;
    }
  }

  @for $i from 1 through 6 {
    section:nth-child(#{$i}) {
      grid-area: item#{$i};
    }
    @if ($i % 2 != 0 ){
        section:nth-child(#{$i}){
          justify-content:flex-end;
        }
      }
  }
}

// Cells.
.grid-cell{
  position: relative;
  width:100%;
  height: 100%;
  background-color: whitesmoke;
  transition: all 0.2s ease-out;
  cursor: pointer;
  &.selected{
    background-color: lightgrey;
  }
  &.merged:not(.selected){
    background:repeating-linear-gradient(45deg, darkGrey 5px, transparent 10px);
  }
  &--tools{
    position: absolute;
    z-index: 1000;
    inset: 8px 8px auto auto;
   
   
    .btn-tool{
    border:none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
    transition: opacity 0.2s ease-out;
     &:hover{
      opacity:1;
    }
    &[data-action="delete"]{
          background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Etrash%3Cspan class='o-0.25'%3E-%3C/span%3Ebin%3Cspan class='o-0.25'%3E-%3C/span%3Eoutline%3C/title%3E%3Cpath fill='none' stroke='%23808080' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1M6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1z'/%3E%3C/svg%3E");
    }
    &[data-action="shrink-top"]{
          background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Earrow%3Cspan class='o-0.25'%3E-%3C/span%3Edownward%3Cspan class='o-0.25'%3E-%3C/span%3Erounded%3C/title%3E%3Cpath fill='%23808080' d='M11 16.175V5q0-.425.288-.712T12 4t.713.288T13 5v11.175l4.9-4.9q.3-.3.7-.288t.7.313q.275.3.287.7t-.287.7l-6.6 6.6q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213l-6.6-6.6q-.275-.275-.275-.687T4.7 11.3q.3-.3.713-.3t.712.3z'/%3E%3C/svg%3E");
    }
    &[data-action="shrink-bottom"]{
          background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Earrow%3Cspan class='o-0.25'%3E-%3C/span%3Eupward%3C/title%3E%3Cpath fill='%23808080' d='M11 20V7.825l-5.6 5.6L4 12l8-8l8 8l-1.4 1.425l-5.6-5.6V20z'/%3E%3C/svg%3E");
    }
    &[data-action="shrink-left"]{
         background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Earrow%3Cspan class='o-0.25'%3E-%3C/span%3Eforward%3C/title%3E%3Cpath fill='%23808080' d='M16.175 13H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8l-1.425-1.4z'/%3E%3C/svg%3E");
    }
    &[data-action="shrink-right"]{
          background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Earrow%3Cspan class='o-0.25'%3E-%3C/span%3Eback%3Cspan class='o-0.25'%3E-%3C/span%3Erounded%3C/title%3E%3Cpath fill='%23808080' d='m7.825 13l4.9 4.9q.3.3.288.7t-.313.7q-.3.275-.7.288t-.7-.288l-6.6-6.6q-.15-.15-.213-.325T4.426 12t.063-.375t.212-.325l6.6-6.6q.275-.275.688-.275t.712.275q.3.3.3.713t-.3.712L7.825 11H19q.425 0 .713.288T20 12t-.288.713T19 13z'/%3E%3C/svg%3E");
    }

    }
  }
}
.grid-cell.merged{
  figure {
    width: 100%;
    height:auto;
    
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    figcaption {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      font-size: small;
    }
  }
  
}